@tailwind base;
@tailwind components;
@tailwind utilities;


.option:hover :first-child {
    opacity: 0;
}

.option:hover p {
    opacity: 1;
}

.option {
    @apply  w-32 h-32 md:w-48 md:h-48  flex justify-center items-center text-black  p-2
}

.result {
    @apply p-16 border-transparent w-36 h-36 md:w-48 md:h-48 rounded-full bg-slate-200 flex justify-center items-center shadow-2xl shadow-black
}

.resultloading {
    @apply p-16 border-transparent w-36 h-36 md:w-48 md:h-48 rounded-full bg-stone-500 flex justify-center items-center shadow-2xl shadow-transparent
}

.gradient {
    @apply bg-gradient-to-b from-[#C04CFD] to-pink-300
}

.gradient__orange {
    @apply bg-gradient-to-b from-[#FF8552] to-orange-300
}

.icon {
    @apply text-[75px] md:text-[100px] hover:hidden
}

.text__border {
    color: #000;
  text-shadow:
   -2px -2px 0 #FFF,  
    2px -2px 0 #FFF,
    -2px 2px 0 #FFF,
     2px 2px 0 #FFF;
}